:root {
  --ourPink: rgba(243, 129, 129, .9);
  --ourYellow: rgba(252, 227, 138, .9);
  --ourLighterYellow: #fce38a;
  --ourWhite: #fff;
  --ourLighterPink: rgba(243, 129, 129, 0.55);

}

body, html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: linear-gradient(var(--ourPink), var(--ourYellow));
  color: #fff;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.section {
  padding: 35px 100px;
  text-align: left;
}

.fa {
  color: var(--ourWhite);
}

* {
  box-sizing: border-box;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
  min-height: 80px;
  position: fixed;
  background-color: var(--ourPink);
}

nav a {
  padding: 20px;
  color: var(--ourWhite);
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
  .fa {
    padding: 8px;
  }
}

nav a:hover {
  color: var(--ourYellow);
  font-size: 21px;
  text-decoration: underline;
  text-underline-offset: 10px; /* space above underline */
  .fa {
    color: var(--ourYellow);
  }
}

.hamburger {
  display: none;
}

/* When the nav is active (menu opened), display links */
.nav-active .nav-links {
  display: flex;
}

/* welcome message */
.welcome-msg {
  color: var(--ourWhite);
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 150px;
}

.welcome-msg h1 {
  font-size: 50px;
}

.welcome-msg p {
  font-size: 20px;
  margin: 0;
}

.explore-button {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 40px;
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid var(--ourWhite);
  transition: all 0.5s ease;
}

.explore-button a {
  color: #fff;
  text-decoration: none;
}

.explore-button:hover {
  border-color: var(--ourYellow);
  font-size: 17px;
}

.explore-button:hover a {
  color: var(--ourYellow);
}

.line {
  display: block;
  width: 5em;
  height: 3px;
  margin: 30px auto 0;
  background: var(--ourWhite);
}

/* techer section */
.teacher-section {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  border-radius: 10px;
}

.teacher-section .teacher-img-container {
  padding-right: 30px;
  border-right: 1px solid var(--ourYellow);
}

.teacher-section .teacher-img-container img {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.teacher-section div p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 600px;
  text-align: left;
}

/* Schedule & announcements Section */

.schedule, .announcements {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.schedule table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

.schedule th, .schedule td {
  padding: 15px;
  border: 1px solid var(--ourWhite);
}

.annoucement-date {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  float: left;
}

.announcements ul {
  width: 100%;
  max-width: 600px;
}

.announcements-text {
  margin: 0 auto;
}

.announcements ul {
  list-style-type: none;
  padding: 0;
}

.announcements ul li {
  background-color: var(--ourLighterPink);
  border: 1px solid var(--ourWhite);
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  color: var(--ourWhite);
  font-size: 1.2rem;
}

/* Gallery Section */
.gallery {
  text-align: center;
}

.gallery > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gallery > div > img{
  margin: 0 auto; /* to center them */
}

/* Footer */
footer {
  background-color: black;
  opacity: 0.85;
  padding: 30px;
  text-align: center;
  color: var(--ourWhite);
}

footer p {
  margin: 10px 0;
  font-size: 18px;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a, footer a {
  color: var(--ourLighterYellow);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--ourYellow);
  .fa {
    color: var(--ourYellow);
  }
}

.contact-us-div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.contact-us-div i {
  padding: 3px;
}

.contact-us-div p {
  padding: 10px;
}

@media (max-width: 768px) {

  /*make it vertical in smaller screens */
  .section {
    padding: 20px;
    gap: 0px;
    flex-direction: column;
    text-align: center;
  }

  .announcements {
    flex-direction: column-reverse; /* to make h2 above */
  }

  .schedule {
    flex-direction: column;
    text-align: center;
  }

  .schedule-text, .announcements-text {
    text-align: center;
  }

  .teacher-section .teacher-img-container {
    padding: 0;
    border: none;
    margin-bottom: 20px;
  }

  .teacher-section div p {
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }

  nav {
    justify-content: start;
    position: static;
  }

  .welcome-msg {
    padding-top: 0;
  }

  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
    flex-direction: column;
    background-color: var(--ourPink);
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    color: var(--ourWhite);
    font-size: 30px;
    cursor: pointer;
    padding: 20px;
  }

  nav a {
    display: block;
    padding: 15px;
    font-size: 18px;
    width: 100%;
  }
}